<div class="container">
  <h2 class="section-header">Topics</h2>
  <div data-card-deck class="card-deck card-deck--expanded-layout card-deck--wrap">
    <% Category.order(:name).each do |category| %>
      <div class="card card--layered">
        <a href="<%= category.path %>">
          <div class="card-bgImage sixteen-nine bgCenter" style="background-image: url('<%= category.featured_image.try(:url) %>');"></div>
          <div class="card-block">
            <h4 class="card-title font-family-condensed-extra text-uppercase">
              <%= category.name %>
            </h4>
            <h5 class="card-subtitle">
              <%= category.posts.size %> <%= 'article'.pluralize(category.posts.size) %>
            </h5>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
